* {
    font-family: "Google Sans", Roboto, arial, sans-serif;
    /*outline: black solid;*/
}

body {
    background-color: #EDF0F2;
}

#nav {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    font-size: 16px;
    display: flex;
    align-items: center;
    list-style: none;
    margin-inline: 3%;
    font-weight: bold;
}

.nav-links a:hover {
    color: #fefefe;
}

.nav-links a {
    text-decoration: none;
    color: #cfcece;
    display: flex;
}

.nav-title {
    color: white;
    font-size: 42px;
    margin-inline: 3%;
    margin-block: 20px;
}

.btn {
    font-size: 14px;
    background-color: #3798DC;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding-inline: 15px;
    padding-block: 11px;
}

.nav-links a, .btn {
    margin-inline: 15px;
    margin-block: 0px;
    margin-top: 4px;
}

main {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left {
    width: 60%;
}

#perfil {
    width: 100%;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.fondo {
    background-color: #3798DC;
    height: 130px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#imagenPerfil {
    margin: 65px;
    height: 130px;
}

#perfil-info {
    height: 200px;
}


#perfil-info h1 {
    margin-top: 75px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: bold;
    color: #343434;
}

#perfil-info h2 {
    font-size: 15px;
    font-weight: 600;
    color: #A0A0A0;
}

#perfil-info h3 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 17px;
}

#perfil-info h4 {
    font-size: 17px;
    margin: 0px;
}

#perfil-info a {
    color: #3999DC;
    text-decoration: none;
}

#engranaje {
    height: 20px;
    vertical-align: middle;
}

#container {
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

#right {
    width: 30%;
}

.amount {
    background-color: #cccccc;
    color: black;
    margin-right: 10px;
    padding-inline: 12px;
    padding-bottom: 5px;
    border-radius: 50%;
    text-align: center;
}

.connection-request-info {
    margin-bottom: 40px;
}

.row {
    display: flex;
    margin-block: 10px;
}

.row h2 {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 0px;
    width: 110px;
}

.your-connections-info h2{
    margin-top: 0px;
}

#user {
    height: 40px;
    margin: 5px 0px 0 20px;
    border-radius: 50%;
}

.accept, .close {
    height: 36px;
    margin-top: 9px;
    margin-left: 7px;
}

.accept {
    margin-left: 20px;
}

.more {
    border-top: #d3d3d3 solid;
}


.education-title {
    background-color: #333333;
    color: whitesmoke;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-block: 1px;
}

.connection-request-title, .your-connections-title {
    display: flex;
    color: whitesmoke;
    background-color: #333333;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-block: 1px;
    justify-content: center;
}

.connections-request {
    margin-bottom: 20px;
}