* {
    /*outline: 2px black solid;*/
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

#container {
    width: 100%;
    height: 100vh; /* Cambia a 100vh para ocupar toda la altura de la ventana */
    margin: 0; /* Asegúrate de que no haya margen */
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Cambia a stretch para que los hijos ocupen toda la altura */
}

#left, #right {
    width: 50%;
    height: 100%; /* Asegúrate de que ambos divs ocupen toda la altura */
}

#left {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#right {
    background-color: #00cbbf;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 7%;
}

#logo {
    background-color: #fff;
    margin-top: 40px; /* Añade un margen superior si es necesario */
    margin-left: 35px;
}

.login {
    width: 36%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    position: relative; /* Añade esta línea */
    z-index: 1; /* Añade esta línea */
}

.login h1 {
    letter-spacing: 1px;
    font-size: 17px;
    margin: 0;
    margin-bottom: 10px;
    color: #505050;
}

#cyan {
    color: #00cbbf;
    font-weight: bolder;
}

.login h2 {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 400;
}

.login figcaption {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 20px;
    color: #6e6e6e;
}

.informacion h2 {
    color: #888a88;
}

#reestablecer h2 {
    font-size: 13.8px;
    text-align: center;
    margin-block: 28px;
    font-weight: 600;
    color: #6142da;
}

.buttons {
    display: flex;
    flex-direction: column;
}

#ingresar, #huella {
    margin-block: 8px;
    padding: 10px;
    padding-block: 14px;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

#ingresar {
    margin-bottom: 25px;
    font-weight: bold;
    background-color: #00cbbf;
    color: #fff;
    border: none;
}

#ingresar:hover {
    background-color: #00a8a0;
}

#huella {
    background-color: #f2f2f2;
    color: #00cbbf;
    border: #00cbbf 1px solid;
    font-weight: 400;
    letter-spacing: 1px;
    padding-block: 12px;
}

#huella img {
    vertical-align: middle;
    margin-left: 14px; /* Espacio entre la imagen y el texto */
}

#rut, #clave {
    width: 91%;
    padding-inline: 12px;
    padding-block: 12px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    color: #555860;
}

#rut:focus, #clave:focus {
    border-color: #6142da; /* Cambia este color al que prefieras */
    outline: none; /* Opcional: elimina el borde de enfoque predeterminado */
}

::placeholder {
    color: #d1cfcf;
    font-size: 14px;
    font-weight: 400;
}

.volver {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 40px;
    margin-left: 35px;
    font-size: 14px;
    font-weight: 400;
}

.volver a {
    color: #6e6e6e;
} 

.imagenes {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: end;
    margin-block: 20px;
    width: 48%;
}

.imagenes img {
    margin-block: 10px;
}

.row {
    width: 100%;
}

#imagen1 {
    margin: ;
    padding-block: 38px;
    padding-inline: 32px;
    background-color: #fff;
    border-radius: 30px;
    justify-content: end
}

#imagen2 {
    margin-left: 18px;
    margin-bottom: 5px;
}

#mobile {
    margin-inline: 10px;
    padding-top: 8px;
    padding-bottom: 30px;
    padding-inline: 24px;
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
    font-size: 13px;
    width: 120px;
}

#mobile figcaption {
    margin: 0;
    color: #6e6e6e;
    font-weight: bolder;
}

#imagen3 {
    padding-block: 32px;
    padding-inline: 40px;
    background-color: #fff;
    border-radius: 30px;
}

.app {
    width: 80%;
    color: #fff;
}

.app h1 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 800;
}

.app h2 {
    font-size: 17px;
    word-spacing: 2px;
    line-height: 22px;
    font-weight: 500;
}

.app b {
    font-weight: 800;
}

#descargar {
    padding-inline: 14px;
    padding-block: 8px;
    border-radius: 50px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f2f2f2;
    color: #00cbbf;
    border: #00cbbf 1px solid;
}

#descargar img {
    vertical-align: middle;
    margin-left: 6px;
}

.contraseña {
    position: relative;
}

#invisible {
    color: #191919;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

