*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    padding: 50px 150px;
}

.izquierdo, .derecho {
    height: 700px;
    flex:1;
    display: flex;
    flex-direction: column;
    outline: solid 1px red;
    background-color: #E6E6E6;
}

.derecho {
    flex-direction: row;
}

.box-4, .box-5, .box-6 {
    padding: 10px;
}

.box-1 {
    flex: 1;
    display: flex;
    border: solid blue 2px;
}

.box-1-1 {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    border: solid blue 2px;
}

.box-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    border: solid green 1px;
}

.box-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid green 1px;
}

.box-4 {
    flex: 3;
    display: flex;
    border: solid green 1px;
}

.box-5 {
    flex: 1;
    display: flex;
    border: solid green 1px;
}

.box-6 {
    flex: 1;
    display: flex;
    border: solid green 1px;
}

.box-7 {
    flex: 1;
    display: flex;
    border: solid red 1px;
}

.square {
    margin: 0;
    background-color: #B2B5B4;
    height: 100%;
    width: 100%;
}